body{
    margin: 0;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: rgb(163, 157, 157);
}

h1{
    margin: 0;
}